*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
body{
	font-size:12px;
	font-family: 'Raleway';
}
section{
	padding:150px 0 ;
}

.separador-one{
	width: 40px;
    height: 2px;
    background: black;
}
.w-100{
	width: 100%;
}
.pl-5{
	padding-left:15%;
}
.pt-5{
	padding-top:15%;
}
.pd-50{
	padding-top:10%;
}
.white{
	color:white;
}
.pd-20{
	padding:5% 0;
}

.text-rigth{
	text-align:right;
}